/*
#53-1
ul li i {
    color: red;
}

p {
    color: green;
}

p,b,i {
color: red;
}*/

li,b {
    color: red;
}

/* 55-1 */
 /* .odd {
    color: red;
} 

.eve {
    color: green;
} */

/* 55-2 */
/* .eee {
    color: red;
} */ 

/*56-1*/

.xxx {
    font-size: 30px;
}

/*57-1 */

/*.block1 {
    color: red;
}

.bloсk-green {
    color: green;
}

.block3 {
    color: blue;
}*/

/*#57-2*/

.house1 {
    color: red;
}

.house2 {
    color: green;
}

/*58-1
/* Упростите код, используя группировку селекторов: */

/*.eee {
	font-size: 20px;
	line-height: 1.5;
	font-family: Arial;
}
.zzz {
	font-size: 30px;
	line-height: 1.5;
	font-family: Arial;
}

.eee {
    font-size: 20px;
}

.zzz {
    font-size: 30px;
}

.eee, .zzz {
    line-height: 1.5;
    font-family: Arial;
}*/

/*58-2*/

/* Упростите код, используя группировку селекторов: */
/*.eee {
	font-size: 20px;
	text-align: center;
	font-family: Arial;
}
.zzz {
	font-size: 30px;
	text-align: center;
	font-family: Arial;
}
.ggg {
	font-size: 35px;
	text-align: center;
	font-family: Arial;
}*/

/* .eee, .zzz, .ggg {
    text-align: center;
    font-family: Arial;
}

.eee {
    font-size: 20px;
}

.zzz {
    font-size: 30px;
}

.ggg {
    font-size: 35px;
} */


/*59-1*/

.header {
	color: red;
}

h2.header {
    font-size: 40px
}

h3.header {
    font-size: 30px;
}







