/*
#53-1
ul li i {
    color: red;
}

p {
    color: green;
}

p,b,i {
color: red;
}*/

li,b {
    color: red;
}

/* 55-1 */
 /* .odd {
    color: red;
} 

.eve {
    color: green;
} */

/* 55-2 */
/* .eee {
    color: red;
} */ 

/*56-1*/

.xxx {
    font-size: 30px;
}

/*57-1 */

/*.block1 {
    color: red;
}

.bloсk-green {
    color: green;
}

.block3 {
    color: blue;
}*/

/*#57-2*/

.house1 {
    color: red;
}

.house2 {
    color: green;
}