h1 {
    text-align: right;
    font-size: 50px;
    text-align: center;
    font-family: Arial;
}

h2 {
    text-align: center;
    width: 300px;
    font-style: italic;
    font-size: 40px;
    font-weight: normal;
    font-family: Georgia;
}

table {
    width: 500px;
    height: 300px;
    font-family: Verdana;
}

th {
    text-align: left;
    font-weight: normal;
    font-family: 'Trebuchet MS';
}


td {
    text-align: center;
    font-weight: bold;
    font-family: Impact;
}

p {
    width: 300px;
    text-align: justify;
    font-size: 30px;
    font-family: 'Arial Black';
    line-height: 1.5;
}


p {
    font: 13px/20px "Times New Roman";
    text-indent: 50px;
    }

p {
  width: 300px;
  font: bold 40px Arial;
  color: red;
}

p {
    font: italic bold 40px/60px Arial;
  }