/* 61-1 */
/* .eee .bbb {
	color: red;
} */

/* 61-2 */
/* .eee h2 {
    color: red;
} */

/* 61-3 */
/* .eee h2.bbb {
	color: red;
} */

/* 61-4 */
/* .eee h3.bbb {
	color: red;
} */

/* 61-6 */
/* .eee .bbb .kkk {
	color: red;
} */


/* 62-1 */
/* p.bbb {
	color: red;
} */

/* 62-3 */
/* .eee p.bbb {
	color: red;
} */

/* 62-4 */
/* .eee p .bbb {
	color: red;
} */
