/* 111-1 */
 /* body {
    background-image: url('bg.png');
}  */

/* 112-1 */
/* body {
    background-image: url('bg.png');
    background-repeat: repeat-x;
} */

/* 112-2 */
/* body {
    background-image: url('bg.png');
    background-repeat: repeat-y;
} */

/* 115-1 */
/* ul {
	list-style-type: square;
} */

/* 116-1 */
/* ul {
	list-style-type: circle;
} */

/* 117-1 */
/* ul {
	list-style-type: disc;
} */

/* 118-1 */
/* ul {
	list-style-type: none;
} */

/* 122-1 */
/* ol {
	list-style-type: lower-alpha;
} */

/* 123-1 */
/* ol {
	list-style-type: lower-alpha;
} */