<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rizaev work</title>
    <link rel="stylesheet" href="styles_245-247.css">
</head>
<body>
    <h2>Task#245 №1</h2>
        <div id="wrapper244_1">
            <div id="header244_1">
                header
            </div>
            <div id="container244_1">
                <div id="sidebar244_1">
                    sidebar
                </div>
                <div id="content244_1">
                    content
                </div>
            </div>
            <div id="footer244_1">
                footer
            </div>
        </div>

        <h2>Task#245 №2</h2>
        <div id="wrapper244_2">
            <div id="header244_2">
                header
            </div>
            <div id="container244_2">
                <div id="content244_2">
                    content
                </div>
                <div id="sidebar244_2">
                    sidebar
                </div>
            </div>
            <div id="footer244_2">
                footer
            </div>
        </div>

        <h2>Task#245 №2</h2>
        <div id="wrapper244_2">
            <div id="header244_2">
                header
            </div>
            <div id="container244_2">
                <div id="content244_2">
                    content
                </div>
                <div id="sidebar244_2">
                    sidebar
                </div>
            </div>
            <div id="footer244_2">
                footer
            </div>
        </div>


        <h2>Task#246 №1</h2>
        <div id="wrapper245_1">
            <div id="header245_1">
                header
            </div>
            <div id="container245_1">
                <div id="left245_1">
                    left sidebar
                </div>
                <div id="content245_1">
                    content
                </div>
                <div id="right245_1">
                    right sidebar
                </div>
            </div>
            <div id="footer245_1">
                footer
            </div>
        </div>

        <h2>Task#246 №2</h2>
        <div id="wrapper245_2">
            <div id="header245_2">
                header
            </div>
            <div id="container245_2">
                <div id="left245_2">
                    left sidebar
                </div>
                <div id="content245_2">
                    content
                </div>
                <div id="right245_2">
                    right sidebar
                </div>
            </div>
            <div id="footer245_2">
                footer
            </div>
        </div>  

        <h2>Task#246 №3</h2>
        <div id="wrapper245_3">
            <div id="header245_3">
                header
            </div>
            <div id="container245_3">
                <div id="content245_3">
                    content
                </div>
                <div id="left245_3">
                    left sidebar
                </div>
                <div id="right245_3">
                    right sidebar
                </div>
            </div>
            <div id="footer245_3">
                footer
            </div>
        </div>
        
</body>
</html>