/* 70-1
Упростите код, используя группировку селекторов:

#block h1 {
	text-align: center;
}
#block h2 {
	text-align: center;
} */

/* .block h1, .block h2 {
text-align: center;
} */

/* 70-2
Упростите код, используя группировку селекторов:

#block h1 {
	text-align: center;
	font-size: 30px;
}
#block h2 {
	text-align: center;
	font-size: 20px;
} */

/* #block h1, #block h2 {
    text-align: center;
}

#block h1 {
    font-size: 30px;
}

#block h2 {
    font-size: 20px;
} */

/* 71-1
Упростите код, используя группировку селекторов:

#block h1 {
	text-align: center;
}
#block h2 {
	text-align: center;
	color: blue;
}
#block h3 {
	text-align: center;
	font-size: 16px;
	color: red;
} */


/* #block h1, #block h2, #block h3 {
    text-align: center;
}

#block h2 {
    color: blue;
}

#block h3 {
    font-size: 16px;
    color: red;
} */

/* 71-2
Упростите код, используя группировку селекторов:

#block h1.eee {
	text-align: center;
	font-size: 30px;
}
#block h2.zzz {
	text-align: center;
	font-size: 20px;
} */

/* #block h1.eee, #block h2.zzz {
    text-align: center;
}

#block h1.eee {
	font-size: 30px;
}
#block h2.zzz {
	font-size: 20px;
} */


/* 71-3
Упростите код, используя группировку селекторов:

.xxx .kkk {
	text-align: center;
}
.eee h2.zzz {
	text-align: center;
}
#eee h2 {
	text-align: center;
} */

/* .xxx .kkk, .eee h2.zzz, #eee h2 {
    text-align: center;
} */

/* 71-4
Упростите код, используя группировку селекторов:

.eee h2.zzz {
	text-align: center;
}
.xxx {
	text-align: center;
} */

/* .eee h2.zzz, .xxx {
    text-align: center;
} */

/* 72-1 */
/* div p{
    color: red;
} */

/* 72-2 */
/* div, h2 {
    color: aqua;
} */

/* 72-3 */
/* #block, p {
    color: black;
} */

/* 72-4 */
/* #block, h2 {
    color: red;
} */

/* 72-5 */
/* .bbb {
    color: blue;
} */

/* 72-6 */
/* #block, .bbb{
    color:red
} */

/* 72-7 */
/* p.bbb{
color: red;
} */

/* 72-8 */
/* h2.bbb{
    color: red;
} */

/* 72-9 */
/* #block p.bbb{
    color: red;
} */


/* 72-10 */
/* .bbb, .xxx{
    color: red;
} */

/* 72-11 */
/* p.bbb, h2.xxx{
    color: red;
} */

/* 72-12 */
/* #block p.bbb, #block p.xxx{
    color: red;
} */

/* 72-13 */
/* .fff {
    color: red;
} */

/* 72-14 */
/* p.fff{
    color: red;
} */

/* 72-17 */
/* .fff h2.bbb {
    color: red;
} */

/* 77-1 */
/* #elem + li {
    color: red;
} */

/* 77-2 */
/* .elem + li {
    color: red;
} */

/* 78 */
/* #elem ~ li {
    color: red;
} */

/* 79 */
/* main * p {
    color: red;
} */

/* 80-1 */
[title] {
    color: red;
}


/* 80-2 */
p[title] {
    color: green;
}

/* 80-3 */
p[title="hello"] {
    color: blue;
}

/* 80-4 */
a[href^="http://"] {
    color: blue;
}

/* 80-5 */
a[href$=".html"] {
    color: red;
}

/* 80-6 */
p[title*="hello"] {
    color: purple;
}

/* 80-7 */
p[class^="top-"] {
    color: orange;
}