/* 82-1
a:hover {
    color:red
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:active {
    color: black;
} */

/* 84-1

a:link, a:visited, a:active {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
} */

/* 87-1 */

li:first-child {
    color: red;
}

li:last-child {
    color: green;
}



