/* 150-1 */
/* p {
    display: inline;
} */

/* 150-2 */
/* a {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
} */

/* 155-1 */
/* div {
 display: inline-block;
 width: 100px;
 height: 100px;
 border: 1px solid red;
} */

/* #parent {
    border: 1px solid red;
}

#elem1 {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

#elem2 {
    margin: 10px auto;
    width: 200px;
    height: 100px;
    border: 1px solid green;
}

#elem3 {
    margin: 10px auto;
    width: 300px;
    height: 100px;
    border: 1px solid green;
} */

/* 161 */
/* .parent {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
} */

/* 162 */
/* .parent {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
    padding-right: 15px;
} */


/* 164 */
/* .parent {
	padding: 10px 0;
	border: 1px solid red;
    margin-right: 5px;
    margin-left: 5px;
}
.child {
	padding: 10px;
	border: 1px solid green;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
} */

/* 165-1,2 */
/* .parent {
    text-align: right;
	padding: 10px 0;
    padding-right: 15px;
	border: 1px solid red;
}
.child {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid green;
} */

/* 165-4,5 */
/* .parent {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
}
.child {
	width: 100px;
	padding: 10px;
	border: 1px solid green;
    display: inline-block;
    text-align: center;
} */

/* 166 */
/* .parent163 {
    display: flex;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child163 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
} */

/* 167 */

/* .parent {
    display: flex;
    width: 900px;
    margin: 20px auto;
    border: 1px solid red;
}
.child {
    width: 120px;
    height: 100px;
    border: 1px solid green;
} */

/* 168 */
/* .parent {
    display: flex;
    margin: 20px auto;
    border: 1px solid red;
}
.child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
} */

/* 169 */

/* .parent {
    display: inline-flex;
    border: 1px solid red;
}
.child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
} */

/* 170 */
/* .parent {
    display: inline-flex;
    padding: 20px;
    border: 1px solid red;
}
.child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
} */

/* 171 */

.parent {
    display: inline-flex;
    border: 1px solid red;
}
.child {
    margin: 30px;
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
