/* 150-1 */
/* p {
    display: inline;
} */

/* 150-2 */
/* a {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
} */

/* 155-1 */
/* div {
 display: inline-block;
 width: 100px;
 height: 100px;
 border: 1px solid red;
} */

/* #parent {
    border: 1px solid red;
}

#elem1 {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

#elem2 {
    margin: 10px auto;
    width: 200px;
    height: 100px;
    border: 1px solid green;
}

#elem3 {
    margin: 10px auto;
    width: 300px;
    height: 100px;
    border: 1px solid green;
} */

/* 161 */
/* .parent {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
} */

/* 162 */
/* .parent {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
    padding-right: 15px;
} */


/* 164 */
.parent {
	padding: 10px 0;
	border: 1px solid red;
    margin-right: 5px;
    margin-left: 5px;
}
.child {
	padding: 10px;
	border: 1px solid green;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
