/* 150-1 */
/* p {
    display: inline;
} */

/* 150-2 */
/* a {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
} */

/* 155-1 */
/* div {
 display: inline-block;
 width: 100px;
 height: 100px;
 border: 1px solid red;
} */

/* #parent {
    border: 1px solid red;
}

#elem1 {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

#elem2 {
    margin: 10px auto;
    width: 200px;
    height: 100px;
    border: 1px solid green;
}

#elem3 {
    margin: 10px auto;
    width: 300px;
    height: 100px;
    border: 1px solid green;
} */

/* 158 */
.parent {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
}